<%# local:flase　にすることでajaxによって通信を行うようになる %>
<%= form_with(model: user, local: false) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%# confirm：送信前に表示するダイアログを指定している %>
    <%# disbale_with：送信中にボタンに表示する文字を指定している %>
    <%= form.submit  data: { confirm: '実行してもよろしいですか？', disable_with: '送信中' }%>
  </div>
  </div>
<% end %>
